/*************COLORES************************/
:root {
  --primary: #00baff;
  --secondary: blue;
  --success: green;
  --error: red;
  --info: blue;
  --text: #72797c;
  --aside: white;
}

/****X********COLORES***************X********/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

h2.ti {
  margin-bottom: 1.5rem !important;
}

h2.ti::after {
  content: "";
  width: 60px;
  height: 5px;
  background: #424242;
  display: block;
}

nav.bg-dark {
  color: #ffffff;
  background-color: #212121 !important;
  box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%),
    0 7px 12px -5px rgb(33 33 33 / 46%);
}

.logo {
  width: 90px;
}

.aside {
  position: fixed;
  width: 200px;
  height: 100vh;
  background: white;
  text-align: center;
  margin: 0;
  padding-top: 1rem;
}

.aside .welcome {
  background: #f0f0f0;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.8rem;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.aside .nav-link {
  background: rgb(200, 200, 200, 0.3);
  margin-bottom: 1rem !important;
  cursor: pointer;
}

main {
  padding: 2rem 0 0 232px;
}

main .home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2rem;
}

.users-list-item {
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  margin-bottom: 1rem;
}
