.list {
  margin: 2rem 0;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;

    &__actions {
      margin-right: 1rem;
    }
  }
  &__item {
    width: 100%;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    margin-bottom: 1rem;
  }
}
